<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Settings</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Endpoint</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>RTMP endpoint</string>
			<key>DefaultValue</key>
			<string>rtmp://broadcast.api.video/s/</string>
			<key>Key</key>
			<string>RtmpUrl</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Stream key</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>StreamKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Video</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Resolution</string>
			<key>Key</key>
			<string>Resolution</string>
			<key>DefaultValue</key>
			<string>854x480</string>
			<key>Values</key>
			<array>
				<string>426x240</string>
				<string>640x360</string>
				<string>854x480</string>
				<string>1280x720</string>
				<string>1920x1080</string>
			</array>
			<key>Titles</key>
			<array>
				<string>426x240</string>
				<string>640x360</string>
				<string>854x480</string>
				<string>1280x720</string>
				<string>1920x1080</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Framerate</string>
			<key>Key</key>
			<string>Framerate</string>
			<key>DefaultValue</key>
			<real>30</real>
			<key>Values</key>
			<array>
				<real>24</real>
				<real>30</real>
				<real>60</real>
			</array>
			<key>Titles</key>
			<array>
				<string>24</string>
				<string>30</string>
				<string>60</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Bitrate</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Bitrate</string>
			<key>DefaultValue</key>
			<string>1000</string>
			<key>Key</key>
			<string>VideoBitrateValue</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>VideoBitrateSlider</string>
			<key>DefaultValue</key>
			<integer>1000</integer>
			<key>MinimumValue</key>
			<integer>1000</integer>
			<key>MaximumValue</key>
			<integer>10000</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Audio</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Bitrate</string>
			<key>Key</key>
			<string>AudioBitrate</string>
			<key>DefaultValue</key>
			<integer>128000</integer>
			<key>Values</key>
			<array>
				<integer>24000</integer>
				<integer>64000</integer>
				<integer>128000</integer>
				<integer>192000</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>24 Kbps</string>
				<string>64 Kbps</string>
				<string>128 Kbps</string>
				<string>192 Kbps</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
