name: Build
on:
  - push
jobs:
  find_schemes:
    name: Find xcode schemes
    runs-on: macos-14
    outputs:
      schemes: ${{ steps.getSchemes.outputs.schemes}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Get schemes
        id: getSchemes
        run: |
          TARGETS=$(xcodebuild -list -json | tr -d "\n")
          SCHEMES=$(echo $TARGETS | ruby -e "require 'json'; puts JSON.generate(:scheme => JSON.parse(STDIN.gets)['project']['schemes'])")
          echo Found schemes: $SCHEMES
          echo "schemes=$SCHEMES" >> $GITHUB_OUTPUT
  swift_build:
    name: Build with swift
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Build Package with swift
        run: swift build
  xcode_build:
    name: Build with xcode
    needs: find_schemes
    runs-on: macos-14
    strategy:
      matrix: ${{ fromJson(needs.find_schemes.outputs.schemes) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Build ${{matrix.scheme}}
        run: xcodebuild clean build -project ApiVideoLiveStream.xcodeproj -scheme "${{matrix.scheme}}" -sdk iphoneos CODE_SIGNING_ALLOWED=NO
  verify:
    name: Verify package sanity
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Verify cocoapods
        run: pod lib lint --allow-warnings
      - name: Install swiftlint
        run: brew install swiftlint
      - name: Execute swiftlint
        run: swiftlint
